@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --font-space-grotesk: var(--font-space-grotesk);
  --font-inter: var(--font-inter);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-space-grotesk);
  --font-inter: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk), sans-serif;
}